# Arquivos
.env
.phpunit.result.cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios
/vendor/
/node_modules/
.homestead.yaml
/homestead.json
Homestead.yaml
Homestead.json
.idea/
.phpstorm.meta.php
.phpunit/
.pu
/.vagrant/
Homestead.json
/.idea
/postgres-data/
docker-compose.yml

# Excluir conteúdo, mas incluir os diretórios vazios
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
